// //основной цвет текста
$colorFont: #2F2F2F;
// //цвет текста основной меню
// $colorMenuFont: #1B2B3B;
// //цвет иконок основной
// $socialColor:rgb(14, 48, 80);;
// $colorMenuFontHover: #5E81FE;
// //цвет логотипа
$colorLogo: #FFBD0F;
// //цвет надзоголовка и основного заголовка
// $subtitleColorFont: rgba(0, 0, 0, 0.8);;


// // Кнопки
// // Основная кнопка
// $colorMainButton: #C78609;
// $colorFontButton: #3A79FF;
// // Кнопка 2
$colorWButton: #252525;
// $wheit: rgba(255, 255, 255, 0.8);
// $colorBorderButton: #D1D1E4;
// $colorFontWButton: #ADB4D2;
// // кнопка 3
// $color3Button: #D43F3F;
// $color3FontButton: #FFD7D7;
// // Кнопка 4
// $opacityButtonFont: #A6B6DA;
// //кнопка 5
// $whiteButtonFont: #C7D3FF;
// $whiteButtonBorder: #A0B4FF;
// //кнопка 6
// $BGButton: #4D6CE1;


// //инпут 
// $inputBG: #D6D6D6;
// $inputPlaceholder: #7A85AD;

// // comagines frends;
// $colorFrnds: #D6DAE5;
// $colorFrndsHover: #5982E7;


// // текст у преимуществ
// $colorFontExell: #4074F8;
// $textDiskriptExell: #ADB3CB;
// //фон иконки преимуществ
// $BgIconExell: #F1F5FF;
// //инфо блок 
// $infoBlockText: #5E80FF;
// // отзывы цвет текста
// $fontFeedback: #676F95;
// //faq шрифт и стрелки 
// $FAQfont: #8E96B7;


// //специальные
// $borderBottom: #b1a69136;
// $AllrightResColor: #AEB8D0;


// // BG
// $BGStart: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
// $shadowStartButton: #5075fd; 

// // Info BG 
// $ShwarcBG: linear-gradient(92.59deg, rgba(174, 185, 194, 0.13) 7.26%, rgba(46, 65, 83, 0.19) 82.88%);
// $mainGradient: linear-gradient(97.47deg, #152534 -34.66%, #2E4153 40.85%);;
// $feedbackGrad: linear-gradient(75.78deg, rgba(174, 185, 194, 0.12) 9.55%, rgba(46, 65, 83, 0.08) 91.57%);
// $footerGradient: linear-gradient(92.59deg, #152534 7.26%, #2E4153 82.88%);
// $BGMAin: #F5F8FF;

