// ---------------------------------------------  подключение СТИЛЕЙ ШРИФТОВ при добавлении нового фаила удалить из папки фаил

// @import "fonts";


// ---------------------------------------------  ОБНУЛЯЮЩИЙ стиль подключение

@import "__null";


// ----------------------------------------------  подключение иконочных ШРИФТов

@import "__icons";


//-----------------------------------------------  !!! ЦВЕТА ПРОЕКТА !!!
@import "__main-colorfonts";

//----------------------------------------------- Настройки основного ШРИФТА
$fontFamily: "Jura";
$fontSize: 16px;
// $mainColor: #B5B5B5;


//---------------------------------------------------------------------

// ----------------------------------------------- основные настройки СТРАНИЦЫ

$maxWidthContanier: 1113; // ширина основного контейнера за минусом $contanierPadding
$contanierPadding: 15; // отступы безопасности

$WidthContanier: $maxWidthContanier + $contanierPadding * 2;

// ----------------------------------------------- подключение настроек основнова КОНТЕЙНЕРА


@import "__contanier";



// $pc: em($maxWidthContanier + $contanierPadding);
// $tablet: 991.98px;
// $mobile: 767.98px;
// $mobileSmall: 479.98px;
// * {
//     outline:1px solid red;
// }
body {
    font-family: $fontFamily;
    font-weight: 400;
    background: #f6f6f6;
    color: $colorFont;
    
}
.-lock {
    overflow: hidden;
}

